<%- include('includes/header') %>
    <% if(user.isLoggedIn) { %>
        <%- include('includes/navbar') %>
            <% } %>
                <main id="main-body">
                    <div id="main-body__container" class="container">
                        <h1>Welcome to
                            <br>BookWorm!</h1>
                    </div>

                </main>
                <%- include('includes/footer') %>