/**
* GLOBAL
**/

/*
* COLORS
* MAIN: #a1795a
* ACCENTS: #d6e0e6
* DETAILS: #4f2523
*/

:root {
    --main-color: #ffbf66;
    --secondary-color: #430c05;
    --detail-color: #00353f;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ececec;
    font-size: 14px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.color-secondary {
    background: var(--secondary-color);
    color: white;
}

.color-secondary:hover {
    background: var(--detail-color);
    color: white;

}


/*
Overwrite BOOTSTRAP default colors
*/

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus {
    color: var(--detail-color);
    box-shadow: inset 0 -2px 0 var(--detail-color);
}

a {
    color: unset;
}

a:hover {
    color: unset;
}

/**
* HEADER
**/

/* .header-part {
    background: #fbe857;
} */

.header-part {
    background: var(--main-color);
}

.main-header__container,
#main-nav {
    width: 100%;
}

#main-header {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100px;
    padding-top: 10px;
}

#main-header .container,
#main-nav .container {
    display: flex;
    justify-content: space-between;
}

.main-header__container,
.main-nav__container {
    display: flex;
    align-items: center;
}

#main-header__logo {
    width: 40%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    max-height: 70px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}


#main-header__logo i.fas.fa-book {
    color: var(--secondary-color);
    margin-right: 5px;
    font-size: 4em;
}

.logo_text {
    font-size: 2em;
    font-weight: 400;
}

span.logo_text.color-text {
    color: var(--secondary-color);
}

a.btn.color-secondary {
    color: white;
}

/**
* NAVIGATION
**/

#main-nav {
    height: 70px;
    z-index: 999;
}

.main-nav__container.container {
    height: 100%;
}

.main-nav__search {
    width: 200px;
    height: 30px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(187, 186, 186, 0.61);
    border-radius: 20px;
}

.main-nav__search form {
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-nav__search input {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    height: 100%;
    background: transparent;
}

.main-nav__search input:focus {
    outline: none;
}

.main-nav__search i {
    flex: 0 0 auto;
    margin-left: -10px;
}


.main-nav__buttons {
    width: 40%;
}

.main-nav__buttons a {
    font-size: 1.1em;
    margin-right: 10px;
    color: var(--secondary-color);
    text-decoration: none;
}

.main-nav__buttons a:hover {
    color: var(--detail-color);
}

[id*="__buttons"] {
    font-family: 'Roboto', sans-serif;
}



/**
* MAIN
**/

#main-body {
    width: 100%;
    height: 100%;
    background: #f0f1f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-body__container {
    margin: 20px 0;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Roboto', sans-serif;
}

.row.home_title {
    margin-top: 20px;
    text-align: center;
}

.intro {
    font-size: 2em;
    margin: 0;
}

.intro.big {
    font-size: 3em;
}


/*
Register & Login
*/

.authorise {
    margin: 0;
    padding: 0;
}