/**
* GLOBAL
**/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ececec;
    font-size: 14px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.blue {
    background: #3597d9;
}

/**
* HEADER
**/

/* .header-part {
    background: #fbe857;
} */

.header-part {
    background: #f3d702;
}

.main-header__container,
#main-nav {
    width: 100%;
}

#main-header {
    position: relative;
    height: 100px;
    padding-top: 10px;
}

#main-header .container,
#main-nav .container {
    display: flex;
    justify-content: space-between;
}

.main-header__container,
.main-nav__container {
    display: flex;
    align-items: center;
}

#main-header__logo {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    max-height: 70px;
    align-items: center;
    cursor: pointer;
}

#main-header__logo img {
    max-width: 70px;
    margin-right: 5px;
}

.logo_text {
    font-size: 2em;
    font-weight: 400;
}

span.logo_text.blue-text {
    color: #3597d9;
}

a.btn.blue {
    color: white;
}

/**
* NAVIGATION
**/

#main-nav {
    height: 70px;
}

.main-nav__container.container {
    height: 100%;
}

.main-nav__search {
    width: 200px;
    height: 30px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(187, 186, 186, 0.61);
    border-radius: 20px;
}

.main-nav__search form {
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-nav__search input {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    height: 100%;
    background: transparent;
}

.main-nav__search i {
    flex: 0 0 auto;
    margin-left: 5px;
}

.main-nav__buttons {
    width: 40%;
}

.main-nav__buttons a {
    font-size: 1.1em;
    margin-right: 10px;
    color: #3597d9;
    text-decoration: none;
}

.main-nav__buttons a:hover {
    color: orange;
}

[id*="__buttons"] {
    font-family: 'Roboto', sans-serif;
}

/**
* MAIN
**/

#main-body {
    width: 100%;
    height: 100%;
    background: #f0f1f5;
    display: flex;
    justify-content: center;
}

#main-body__container {
    margin: 20px 0;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Roboto', sans-serif;
}