<main id="main-body">
    <div id="main-body__container" class="container">
        <div class="row home_title">
            <div class="col-sm-6 offset-md-3">
                <i>
                    <p class="intro">Welcome to</p>
                    <p class="intro big">BookWorm</p>
                </i>
            </div>
        </div>
    </div>

</main>