<main id="main-body">
    <div class="authorise card text-center col-10 col-sm-10 col-md-5 col-lg-6 col-xl-4">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="/user/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/register">Register</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h4 class="card-title">Login into your BookWorm account</h4>
          <%- include('../elements/messages') %>
          <form action="/user/login" method="POST">
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"  name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword"  name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn color-secondary">Submit</button>
          </form>
        </div>
      </div>
</main>