<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyLibrary | Home</title>
    <link rel="icon" href="img/book.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/book.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700i|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header id="main-header" class="header-part container-fluid">
        <div class="main-header__container container">
            <a href="/" id="main-header__logo">
                <i class="fas fa-book"></i>
                <i>
                    <span class="color-text logo_text">Book</span>
                    <span class="logo_text">Worm</span>
                </i>
            </a>
            <div id="main-header__buttons">
                <a href="/login" class="btn color-secondary">Login</a>
                <a href="/register" class="btn color-secondary">Register</a>
            </div>
        </div>
    </header>